.navbar {
	height: 90px;
}
/*
.navbar img {
   width: 180px;
}
*/
.waiting-room-header{
	font-weight: bolder;
}
.waiting-room-list-group-item-header {

    color: #155724;
    background-color: #c3e6cb;

}
.require{
	color: red;
}
.margin-from-header{
	margin-top: 44px;
}
.exit-waiting-room-button{
	margin-top: 34px;
	margin-bottom: 41px;
}
.consultation-room-notice{
	font-size: 14px;
}
.consultation-room-notice a:active {
  color: #69a970;
}
.consultation-room-notice a:hover {
	color: #69a970;
}
.consultation-room-notice a:link {
  color: #69a970;
}
.consultation-room-notice a:visited {
  color: #69a970;
}

/*
* doctor dashboard
*/
.dashboard{
	width: 719px;
}
.doctor-dashboard-margin-from-header{
	margin-top: 21px;
}
.invite-user-image{
	float: right;
	margin-right: 5px;
	margin-top: 3px;
}
.dashboar-padding-top{
	padding-top: 41px;
}
.dashboar-patient-block{
	display: block;
  height: 92px;
}
.dashboard-hamburger-image{
	margin-bottom: 4px;
}
.dashboard-patient-image{
	display: block;
  float: left;
	width: 80px;
}
.dashboard-patient-info{
	display: block;
	width: 280px;
	float: left;
}
.dashboard-reason{
	color: #999999;
}
.dashboard-email{
	color: #999999;
}
.dashboard-online-status{
	display: block;
	float: left;
	width: 168px;
}
.dashboard-button{
	width: 40px;
}
.video-icon{
	color: #72a75b;
	margin-right: 5px;
}
.dashboard-waiting-clock{
	margin-right: 5px;
}
.dashboard-group-buttons{
	display: block;
  float: left;
}
.computer-block{
	float: right;
	display: block;
	width: 200px;
	margin-top: 20px;
}
.user-info-block{
	float: right;
	display: block;
	width: 200px;
	margin-top: 15px;
}
.dashboar-doctor-name{
	margin-top: 4px;
}
.user-info-image{
	margin-top: 5px;
	margin-right: 4px;
}
.caret-down{
  margin-left: 8px;
}
.footer {
  text-align: center;
  margin-top: 60px;
  color: #a69999;
}
.vsee-text{
	color: #73ac73;
	font-weight: bold;
}
